* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
}

body * {
  font-family: 'Inter', sans-serif;
}

:root {
  --background: #f8f8f8;
  --background-dark: #29292e;
  --text: #29292e;
  --text-light: #f8f8f8;
  --button-hover: #535962;
  --link-active: #f8f8f8;
  --highlight-color: rgba(0, 0, 0, 0.3);
}

/* Estilização menu */
.header {
  width: 100%;
}

.nav-menu {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 2rem 0rem;
}

.logo {
  display: flex;
  align-items: center;
}

.logo h1 {
  font-size: 1rem;
  font-weight: 700;
  color: var(--text);
}

.nav-list {
  display: flex;
  align-items: center;
}

.nav-list ul {
  display: flex;
  justify-content: center;
  list-style: none;
}

.nav-item {
  margin: 0 32px;
}

.nav-link {
  font-weight: 400;
  color: var(--text);
  text-decoration: none;
}

.nav-link:hover {
  text-decoration: underline solid var(--text) 2px;
  text-underline-offset: 0.4rem;

  font-weight: 700;
  transition: all 0.2s;
}

.nav-link.active {
  text-decoration: underline solid var(--text) 2px;
  text-underline-offset: 0.4rem;

  font-weight: 700;
  transition: all 0.2s;
}

.mobile-menu-icon {
  display: none;
}

.mobile-menu {
  display: none;
  background: var(--background);
}

.btn-close-open {
  color: var(--background-dark);
}

/* Estilização home */
.container {
  height: 100vh;
}

.presentation-layer {
  display: flex;
  align-items: center;
  justify-content: space-around;

  padding: 0rem 1rem 0rem 1rem;

  height: calc(100% - 10rem);
}

.presentation-image {
  width: 400px;
  height: 400px;
  background: var(--background-dark);
  border-radius: 100%;
  padding: 1rem;
  border: 5px solid var(--button-hover);
  overflow: hidden;
}

.presentation-image img {
  width: 100%;
}

.social-media-icons {
  padding-top: 25px;
}

.scroll-down-button {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
}

.presentation-content {
  border-left: 5px solid var(--text);
  padding-left: 2rem;
}

.presentation-content p {
  font-weight: 400;
  font-size: 2.5rem;
  margin: 1rem 0 1rem 0;
  color: var(--text);
}

.presentation-content h1 {
  font-size: 4rem;
  font-weight: 700;
  color: var(--text);
}

.btn-cv {
  display: block;

  width: 100%;
  padding: 1rem 2rem;

  background: var(--text);

  font-weight: 700;
  color: var(--background);
  text-decoration: none;
  text-align: center;

  border-radius: 8px;
  border: none;

  cursor: pointer;

  transition: all 0.2s;
}

.border-btn {
  transition: all 0.2s;
  width: 50%;
}

.border-btn:hover {
  border: 5px solid var(--background-dark);
  border-radius: 16px;
  padding: .15rem .2rem;
}

.presentation-content .btn-cv a {
  text-decoration: none;
  color: var(--text-light);

  font-weight: 500;
}

.btn-icons {
  background-color: transparent;
  border: none;
}

.social-media-icons a {
  display: flex;

  text-decoration: none;
  color: var(--text);
  font-size: 2rem;

  border-radius: 50%;
  padding: 1rem;

  transition: background 0.2s;
}

.social-media-icons a:hover {
  background: var(--highlight-color);
}

.scroll-down-button button {
  display: flex;
  align-items: center;
  background-color: transparent;
  border: none;
  cursor: pointer;

  font-size: 3rem;
}

.scroll-down-button button:hover {
  animation: moveUp 0.5s ease-in-out infinite;
}

#scroll-up {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 999;

  background: none;
  border: none;
  color: var(--text);
  font-size: 2.5rem;

  cursor: pointer;
}

#scroll-up:hover {
  animation: moveUp 0.5s ease-in-out infinite;
}

/* Estilização sobre mim */

.container-about {
  height: 100vh;
}

.header-section {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem 0rem;
  box-shadow: none;
}

.about-session-content {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 80vh;
  padding: 0rem 1rem;
}

.about-content {
  max-width: 800px;
  padding-bottom: 2rem;
  border-bottom: 5px solid var(--text);
}

.about-content h1 {
  font-size: 3rem;
  font-weight: 700;
  color: var(--text);
  padding-bottom: 1rem;
}

.about-content p {
  font-size: 1.5rem;
  font-weight: 400;
  color: var(--text);
  padding-bottom: 1rem;
}


/*Webkit de animação*/
@keyframes moveUp {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-10px);
  }

  100% {
    transform: translateY(0);
  }
}

/*Media queries*/
@media screen and (max-width: 1470px) {
  .about-content {
    max-width: 600px;
  }

  .about-content h1 {
    font-size: 2.5rem;
    padding-bottom: .5rem;
  }

  .about-content p {
    font-size: 1.2rem;
  }

  .about-img {
    width: 300px;
    height: 300px;
  }
}

@media screen and (max-width: 1024px) {
  .presentation-content p {
    font-size: 2rem;
  }

  .presentation-content h1 {
    font-size: 3rem;
  }

  .presentation-image {
    width: 300px;
    height: 300px;
  }

  .about-session-content {
    flex-direction: column;
  }

  .about-content {
    text-align: center;
  }

  .about-content h1 {
    padding-bottom: 1rem;
  }
}

@media screen and (max-width: 810px) {
  .presentation-layer {
    flex-direction: column-reverse;
    justify-content: space-evenly;
    align-items: center;
  }

  .scroll-down-button {
    display: none;
  }

  .presentation-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-left: none;
    padding: 0;
  }

  .border-btn {
    width: 100%;
  }
}

@media screen and (max-width: 730px) {
  .nav-item {
    display: none;
  }

  .mobile-menu-icon {
    display: block;
  }

  .mobile-menu-icon button {
    display: flex;
    background: transparent;
    border: none;
    cursor: pointer;
    font-size: 1.5rem;
  }

  .mobile-menu ul {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-bottom: 1rem;
  }

  .mobile-menu .nav-item {
    display: block;
    padding-top: 1.2rem;
  }

  .open {
    display: block;
  }

  .about-img {
    margin-bottom: 0rem;
  }
}

@media screen and (max-width: 500px) {
  .presentation-content p {
    font-size: 1.5rem;
  }

  .presentation-content h1 {
    font-size: 2.5rem;
  }

  .presentation-image {
    width: 250px;
    height: 250px;
  }

  .header-section {
    padding-bottom: 0rem;
  }

  .header-section h1 {
    font-size: 1.5rem;
  }

  .about-content h1 {
    font-size: 2rem;
  }
}

@media screen and (max-width: 400px) {
  .presentation-content p {
    font-size: 1.2rem;
  }

  .presentation-content h1 {
    font-size: 2rem;
  }

  .about-session-content {
    justify-content: space-evenly;
  }

  .about-img {
    width: 250px;
    height: 250px;
  }

  .about-content p {
    font-size: 1rem;
  }
}

@media screen and (max-width: 350px) {
  .presentation-content p {
    font-size: 1rem;
  }

  .presentation-content h1 {
    font-size: 1.5rem;
  }

  .presentation-image {
    width: 200px;
    height: 200px;
  }
}

@media screen and (max-width: 280px) {
  .presentation-content p {
    font-size: 1rem;
  }

  .presentation-content h1 {
    font-size: 1.5rem;
  }

  .presentation-image {
    width: 100px;
    height: 100px;
  }
}

/* (max-height) */
@media screen and (max-height: 750px) {
  .presentation-layer {}
}

@media screen and (max-height: 720px) {
  .presentation-image {
    width: 200px;
    height: 200px;
  }

  .header-section h1 {
    margin-bottom: 2rem;
  }

  .about-content h1 {
    margin-top: 1rem;
  }

  .about-img {
    width: 150px;
    height: 150px;
  }
}

@media screen and (max-height: 700px) {
  .presentation-layer {
    height: 90vh;
  }

  .scroll-down-button {
    display: none;
  }
}

@media screen and (max-height: 600px) {
  .presentation-layer {
    height: 100vh;
  }

  .presentation-image {
    width: 150px;
    height: 150px;
  }
}

/* Custom Scrollbar */

::-webkit-scrollbar {
  width: 1rem;
  border-radius: 1rem;
}

::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 100vw;
}

::-webkit-scrollbar-thumb {
  background: var(--background-dark);
  border-radius: 1rem;

  border: 3px solid #fff;
}