* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  height: 100vh;
}

body * {
  font-family: 'Inter', sans-serif;
}

/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
  scrollbar-width: auto;
  scrollbar-color: var(--background-dark) #ffffff;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 16px;
}

*::-webkit-scrollbar-track {
  background: #ffffff;
}

*::-webkit-scrollbar-thumb {
  background-color: var(--background-dark);
  border-radius: 10px;
  border: 3px solid #ffffff;
}

:root {
  --background: #f8f8f8;
  --background-dark: #29292e;
  --text: #29292e;
  --text-light: #f8f8f8;
  --button-hover: #535962;
  --link-active: #f8f8f8;
  --highlight-color: rgba(0, 0, 0, 0.3);
}

/* Estilização menu */
.header {
  position: fixed;
  z-index: 999;

  background: #fff;
  width: 100%;
}

.nav-menu {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 2rem 0rem;
}

.logo {
  display: flex;
  align-items: center;
}

.logo h1 {
  font-size: 1rem;
  font-weight: 700;
  color: var(--text);
}

.nav-list {
  display: flex;
  align-items: center;
}

.nav-list ul {
  display: flex;
  justify-content: center;
  list-style: none;
}

.nav-item {
  margin: 0 32px;
}

.nav-link {
  font-weight: 400;
  color: var(--text);
  text-decoration: none;
}

.nav-link:hover {
  text-decoration: underline solid var(--text) 2px;
  text-underline-offset: 0.4rem;

  font-weight: 700;
  transition: all 0.2s;
}

.nav-link.active {
  text-decoration: underline solid var(--text) 2px;
  text-underline-offset: 0.4rem;

  font-weight: 700;
  transition: all 0.2s;
}

.mobile-menu-icon {
  display: none;
}

.mobile-menu {
  display: none;
  background: var(--background);
}

.btn-close-open {
  color: var(--background-dark);
}

/* Estilização do Home */

.container-home {
  display: grid;
  place-items: center;

  height: 100vh;
  width: 100%;
}

.home-content {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

.home-presentation {
  display: flex;
}

.border-left {
  border: 3px solid var(--text);
  border-radius: 30px;
  margin-right: 1rem;
}

.home-presentation-section {
  display: flex;
  flex-direction: column;
}

#span-hello {
  font-size: 2rem;
  font-weight: 400;
  color: var(--text);

  margin-bottom: 1rem;
}

#span-dev {
  font-size: 2rem;
  font-weight: 400;
  color: var(--text);

  margin-top: 1rem;
}

.home-presentation-section h1 {
  font-size: 5rem;
  font-weight: 700;
  color: var(--text);
}

.home-presentation-section a {
  padding: 1rem 1rem;
  margin-top: 2rem;

  border-radius: 8px;

  text-decoration: none;
  text-align: center;
  font-weight: 700;
  color: var(--text-light);

  background: var(--background-dark);

  transition: all 0.2s;
}

.home-presentation-section a:hover {
  background: var(--background);
  color: var(--text);
  border: 2px solid var(--text);

  animation: hoverButton 0.5s ease-in-out infinite;
}

.home-image {
  height: 400px;
  width: 400px;
  padding: 1rem;

  background: var(--background-dark);

  border-radius: 50%;
  border: 4px solid var(--button-hover);

  overflow: hidden;
}

.home-image img {
  width: 100%;
}

.social-media-icons {
  position: absolute;
  bottom: 50px;
  left: 50px;
}

.social-media-icons a {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 50px;
  height: 50px;

  margin: 1rem 0;

  border-radius: 50%;

  text-decoration: none;
  font-size: 1.5rem;
  color: var(--text);

  transition: all 0.2s;
}

.social-media-icons a:hover {
  border-radius: 50%;
  background: var(--background-dark);
  color: var(--text-light);
  box-shadow: 0 0 10px 4px rgba(0, 0, 0, 0.2);

  animation: hoverButton 0.5s ease-in-out infinite;
}

#btn-scroll-down {
  position: absolute;
  bottom: 20px;

  background: none;
  border: none;
  color: var(--text);
  font-size: 2.5rem;

  cursor: pointer;
}

#btn-scroll-down:hover {
  animation: moveUp 0.5s ease-in-out infinite;
}

/* Estilização do Sobre */
.container-about {
  display: grid;
  place-items: center;
  height: 100vh;
}

.about-content {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

.border-bottom {
  border: 3px solid var(--background-dark);
  border-radius: 30px;
}

.about-presentation-section {
  display: flex;
  flex-direction: column;

  width: 700px;
}

.about-presentation-section h1 {
  font-size: 2rem;
  font-weight: 700;
  color: var(--text);

}

.about-presentation-section p {
  font-size: 1.2rem;
  font-weight: 400;
  color: var(--text);

  margin: 1rem 0;
}

/* Estilização sessão projetos */
.container-projects {
  display: grid;
  place-items: center;
  height: 100vh;
}

/* Estilização do footer */
footer {
  display: flex;
  justify-content: center;
  align-items: center;


  width: 100%;
  padding: 1.5rem;

  background: var(--background-dark);
}

.footer-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

}

.footer-content h1 {
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--text-light);
}

.footer-content p {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  color: var(--text-light);
  margin: 1.5rem 0rem;
}

.footer-social-media-icons {
  display: flex;
  gap: 2rem;
}

.footer-social-media-icons a {
  text-decoration: none;
  color: var(--text-light);
  font-size: 1.5rem;
}

.divider {
  width: 100%;
  height: 2px;
  background: var(--text-light);
  margin: 1.5rem 0;
  border-radius: 10px;
}

.footer-content span {
  font-weight: 400;
  color: rgba(255, 255, 255, 0.5);
}

/* Estilização do botão ScrollUp */
#scroll-up {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 999;

  background: none;
  border: none;
  color: var(--button-hover);
  font-size: 2.5rem;

  cursor: pointer;
}

#scroll-up:hover {
  animation: moveUp 0.5s ease-in-out infinite;
}

/*Webkit de animação*/
@keyframes moveUp {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-10px);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes hoverButton {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-10px);
  }

  100% {
    transform: translateY(0);
  }
}

@media screen and (max-width: 730px) {
  .nav-item {
    display: none;
  }

  .mobile-menu-icon {
    display: block;
  }

  .mobile-menu-icon button {
    display: flex;
    background: transparent;
    border: none;
    cursor: pointer;
    font-size: 1.5rem;
  }

  .mobile-menu ul {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-bottom: 1rem;
  }

  .mobile-menu .nav-item {
    display: block;
    padding-top: 1.2rem;
  }

  .open {
    display: block;
  }
}